/* header */
@use "../abstracts/variables" as var;
@use "../abstracts/mixins";
@use "../base/typography" as type;

.header {
  @include mixins.flex-column();
  @include mixins.flex-center();
  flex-wrap: wrap;
  padding-top: 2rem;

  &__title {
    color: var.$primary-very-dark;
    font-weight: type.$display-weight;
    font-size: type.$display-title-size;
    letter-spacing: type.$display-spacing;
    text-align: center;
    font-variation-settings: "WONK" 0, "SOFT" 35, "opsz" 144;
  }

  &__img {
    max-width: 100%;
  }

  &__desc {
    max-width: 55ch;
    margin-bottom: 1rem;
    font-size: type.$body-font-size;
    font-weight: 350;
    padding: 0rem 5vw;
    font-variation-settings: "WONK" 0, "SOFT" 100, "opsz" 60;

    &--first {
      font-style: italic;
      font-weight:  300;
      letter-spacing: 0.15em;
      font-variation-settings: "WONK" 1, "SOFT" 100, "opsz" 70;
    }
  }
}
